﻿@model ApiJWTandMVC1.Models.Compra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedido_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
